<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>
    <%= title %>
</title>
<meta name="viewport" content="width=device-width,initial-scale=1">

<body>
    <p>
        <%= error.message %>
    </p>
    <p>
        <%= error.status %>
    </p>
    <p>
        <%= error.stack %>
    </p>

</body>

</html>